* {
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	height: 100%
}


#banner .container {
	z-index: 997;
	width: 300%;
	height: 100%;
	position: relative;
	left: -100%
}

#banner .container div {
	width: 33.33%;
	height: 100%;
	position: absolute;
	;
}

#banner .container div:first-child {
	left: 0;
}

#banner .container div:nth-child(2) {
	left: 33.33%;
}

#banner .container div:last-child {
	left: 66.66%;
}

#banner .container div img {
	width: 100%;
	height: 100%;
}

#banner .control {
	position: absolute;
	z-index: 998;
	top: 50%;
	width: 100%;
}

#banner .control span {
	margin-top: -25px;
	display: inline-block;
	width: 100px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 26px;
	position: absolute;
}

#banner .control span:hover {
	background-color: #666;
	color: #FFF;
	opacity: 0.4;
	cursor: pointer;
}

#banner .control span img {
	height: 100%;
	width: 50%;
	display: block;
	margin: 0 auto;
}

#banner .control span:first-child {
	left: 0;
}

#banner .control span:last-child {
	right: 0;
}

#banner .controlDot {
	position: absolute;
	bottom: 5%;
	left: 50%;
	z-index: 999;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
}

#banner .controlDot ul li {
	float: left;
	z-index: 999;
	width: 0.7em;
	height: 0.7em;
	border: 1px solid #EEE;
	box-sizing: border-box;
	border-radius: 50%;
	list-style: none;
	margin-right:0.2rem;
	background: #FFF;
}