
.AlertDiv {
	width: 100%;
	height: 100%;
	opacity: 0.5;
	background-image: url(../img/1.jpg);
	background-repeat: no-repeat;
	position: absolute;
	z-index: 1000;
	left: 0;
	top: 0;
	filter: url(blur.svg#blur);
	background:gray;
}
.AlertDiv_son {
	/*width: 80%;*/
	/*height: 20%;*/
	/*margin-left: 10%;*/
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:tranlate(-50%,-50%);
	position: absolute;
	z-index: 1001;
	left: 50%;
	top: 50%;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	
}
.AlertPrompt {
	width: 100%;
	height: 30%;
	background: #eaeaea;
	text-align: center;
	color: #353535;
	font-size: 1rem;
	border-top-left-radius: 0.7rem;
	border-top-right-radius: 0.7rem;
	overflow: hidden;
}
.AlertText {
	width: 100%;
	height: 40%;
	background: #eaeaea;
	text-align: center;
	color: #353535;
	font-size: 1rem;
	border-bottom: 1px solid #d6d6d6;
	overflow: hidden;
}
.AlertText #AlertP {
	padding: 1em 2em 1em;
	word-wrap: break-word;
	margin: 0;
	min-height: 1rem;
	height: auto;
}
.AlertButton {
	width: 100%;
	height: 30%;
	background: #eaeaea;
	text-align: center;
	color: #368fe8;
	font-size: 1rem;
	border-bottom-left-radius: 0.7rem;
	border-bottom-right-radius: 0.7rem;
}

/*ï¿½ï¿½ï¿½ï¿½Ê±ï¿½ï¿½ï¿½ï¿½*/
.timeAlert{
	position: absolute;
	z-index:500;
	opacity: 1;
	left:50%;
	font-size:12px;
	/* color:#fff; */
	text-align: center;
	height:auto;
	width:auto;
	float:left;
	padding:2% 5%;
	word-wrap:break-word;
	white-space:normal;
	max-width:80%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:tranlate(-50%,-50%);
/* 	background:rgb(255,90,35); */
}





/*    ï¿½ï¿½ï¿½Ø°ï¿½Å¥*/
@-webkit-keyframes popOut {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(1.2, 1);
            transform: scale(1.2, 1);
  }
  50% {
    -webkit-transform: scale(1.4, 1);
            transform: scale(1.4, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  
}


@keyframes popOut {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(1.2, 1);
            transform: scale(1.2, 1);
  }
  50% {
    -webkit-transform: scale(1.4, 1);
            transform: scale(1.4, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}




.OFF_sun{
	width:100%;
	height:100%;
	position: relative;
	/* top:10%;
	left:20%; */
	border-radius: 50px;
	transition: background 0.3s ease-out;
	/*border: 1px solid red;*/
	/*background: #e3e3e3;*/
	/*padding*/
}
.OFF_sun::after{
	content:'';
	width:50%;
	height:95%;
	position: absolute;
	background: #fff;
	top:2.5%;
	border-radius: 50%;
 			transition: left 0.1s ease-out;
 			float:left;
}
/*.load_sun::after{
	-webkit-animation: popOut ease-in 0.3s normal;
	animation: popOut ease-in 0.3s normal;
}*/
.OFF_sun:active::after{
	-webkit-animation: popOut ease-in  0.5s normal;
	animation: popOut ease-in  0.5s normal;
	/*animation-delay:0.3s;
	-webkit-animation-delay:0.3s;*/
	
}
.OFF_sun.off{
	background: #e3e3e3;
}
.OFF_sun.off::after{
	/*float:left;*/
	left:1%;
}

.OFF_sun.on{
	background:rgb(255,90,35);
}
.OFF_sun.on::after{
	/*float:right;*/
	left:49%;
}




.PUBLIC-CENTER{
	display:inline-block;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	position: relative;
	top: 50%;
	left: 50%;
}
.PUBLIC-CENTER-V{
	transform: translate(0%, -50%);
	-webkit-transform: translate(0%, -50%);
	-moz-transform: translate(0%, -50%);
	position: relative;
	top: 50%;
}

.PUBLIC-CENTER-L{
	transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	position: relative;
	left: 50%;
}

.PUBLIC-CENTER-SPAN{
	display:inline-block;
	float: left;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	position: relative;
	top: 50%;
	left: 50%;
	max-width: 100%;
	white-space:nowrap;
	/* overflow:hidden; */
	text-overflow:ellipsis;
}

.PUBLIC-CENTER-V-SPAN{
	float: left;
	display:inline-block;
	transform: translate(0%, -50%);
	-webkit-transform: translate(0%, -50%);
	-moz-transform: translate(0%, -50%);
	position: relative;
	top: 50%;
}

.PUBLIC-CENTER-L-SPAN{
	/*display:inline-block;*/
	float: left;
	transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	position: relative;
	left: 50%;
}

.PUBLIC-BOTTOM{
	display: inline-block;
	float: left;
	position: relative;
	top:100%;
	transform: translate(0,-100%);
	-webkit-transform: translate(0,-100%);
	-moz-transform: translate(0,-100%);
}

/*åˆ—è¡¨*/
.ZERO-LIST,.ZERO-LIST-3 ul li,.ZERO-LIST-3 ul{
	float:left;
	width:100%;
}
/*.ZERO-LIST-3 ul{
	float: left;
}*/
.ZERO-LIST ul li{
	border-bottom: 1px solid #d9d9d9;
	overflow: hidden;
}

.ZERO-LIST ul li>div{
	float: left;
	min-height: 1px;
	line-height: 2.6;
	font-size: 0.9;
	position: relative;
	white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
	
}
.ZERO-LIST ul .ZERO-LIST-TITLE>div{
	line-height: 2.1;
	background: #eeeeee;
	
}
.ZERO-LIST ul li>div>img{
	height: 1.1em;
	border;1px solid red;
	position: absolute;
}
.ZERO-LIST ul li>div>span{
	color:transparent
}
.ZERO-LIST-3 ul li>div:nth-child(1){
	width:13%;
	text-indent: 2%;
}
.ZERO-LIST-3 ul li>div:nth-child(2){
	width:30%;
}
.ZERO-LIST-3 ul li>div:nth-child(3){
	width:57%;
}

.ZERO-LIST-2 ul li>div:nth-child(1){
	width:30%;
	text-indent: 2%;
}
.ZERO-LIST-2 ul li>div:nth-child(2){
	width:70%;
}
.ZERO-LIST ul .ZERO-LIST-IMG-BOX>img{
	position: relative;
	height:2em;
	width:3em;
	margin: 0.3em;
	/*margin-left: 0.5em;*/
	/*vertical-align:middle;*/
	float:left;
}
/*.ZERO-LIST ul .ZERO-LIST-IMG-BOX>img:first{
	margin-left: 0;
}*/
.ZERO-LIST ul .ZERO-LIST-TEXT>div:nth-child(2){
    word-wrap: break-word;
}

.ZERO-LIST ul .ZERO-LIST-TEXT>div textarea{
	/*position: absolute;*/
	margin-top:0.6em;
	float: left;
    resize: none;
    width: 100%;
    font-size: 0.9em;
    line-height: 1.7;
    display: block;
    overflow-y: visible;
    border: none;
    overflow-x: hidden;
    outline: none;
}
/*å…¨å±€å…¬ç”¨*/
ol,ul{
	list-style: none;
}
*{
	padding: 0;
	margin: 0;
	height: auto;
}
.ZERO-TOP-SIZE{
	box-sizing: border-box;
	border-top:0.5em solid #d9d9d9 ;
}
/*æ¸…é™¤æµ®åŠ¨*/
.CLEAR-BOTH:after{
	content: '';
	display: block;
	clear: both;
}